**/db.sqlite3
**/fixtures.json
data-server/django_app/static/
data-server/django_app/sigma_core/migrations/*
data-server/django_app/sigma_core/models/empty.py

.env/

**.pyc
**.pyo
**/__pycache__/
